include pug/import/taglib

header
    nav
        ul.nav
            li.nav-item
                a.nav-link(href!='<spring:url value="/admin/index"') 管理
            li.nav-item
                a.nav-link(href!='<spring:url value="/admin/"') 管理
            li.nav-item
                a.nav-link(href!='<spring:url value="/admin/index"') 管理
            li.nav-item
                a.nav-link(href!='<spring:url value="/admin/index"') 管理
            li.nav-item
                a.nav-link(href!='<spring:url value="/admin/index"') 管理
